<div id="announcements">

    <h2>Mededelingen</h2>

    <div id="announcements-container">

        <div id="announcement-legend">
            <% categories.forEach(cat => { %>
            <p class="<%= cat %>"><%= cat %></p>
            <% }) %>
        </div>

        <% announcements.forEach(announcement => { %>
        <a href="/announcements/<%= announcement.newsItemId %>" target="_self">
            <div class="announcement <%= announcement.tags[0] %>" id="<%= announcement.newsItemId %>">
                <p><%= announcement.title %></p>
                <p><%= announcement.publishDate %> - <%= announcement.tags[0] %></p>
            </div>
        </a>
        <% }) %>
    </div>

    <% if (pageName === 'dashboard') { %>
    <a href="/announcements">Alle mededelingen
        <img src="/media/icons/arrow-right.svg" alt="arrow-right"></img>
    </a>
    <% } %>

</div>