<div id="schedule">

    <h2>Dagrooster</h2>

    <div id="navigator">
        <img src="/media/icons/arrow-left.svg" alt="arrow-left"></img>
        <span><%= schedules[0].day %>-<%= schedules[0].month %>-<%= schedules[0].year %></span>
        <img src="/media/icons/arrow-right.svg" alt="arrow-right"></img>
    </div>

    <div id="schedules-container">
        <% schedules[0].schedules.forEach(schedule => { %>
        <div class="schedule-course">
            <!-- Time -->
            <p><%= schedule.startDateTime.time %> - <%= schedule.endDateTime.time %></p>

            <!-- Coursename -->
            <p><%= schedule._links.courses[0].title %></p>

            <!-- Room -->
            <% if (schedule._embedded === undefined) { %>
            <p>Geen lokaal</p>
            <% } else { %>
            <p><%= schedule._embedded.rooms[0].abbreviation %></p>
            <% } %>

            <!-- Teacher -->
            <p><%= schedule._links.lecturers[0].title %></p>
        </div>
        <% }) %>
    </div>

    <a target="_blank" href="https://rooster.hva.nl/schedule">Volledig rooster
        <img src="/media/icons/arrow-right.svg" alt="arrow-right"></img>
    </a>

</div>