<div id="study-progress">

    <h2>Studieresultaten en -voortgang</h2>

    <div id="recent-results">
        <% study.results.forEach(result => { %>
        <div>
            <% if (typeof result.grade === 'number' && result.grade >= 5.5 || result.grade === 'V') { %>
            <span class="success"></span>
            <% } else if (typeof result.grade === 'number' && result.grade < 5.5 || result.grade === '-' || result.grade === 'GR') { %>
            <span class="failed"></span>
            <% } else { %>
            <span class="failed"></span>
            <% } %>

            <p><%= result._links.course.title %></p>
            <p><%= result.grade %></p>
            <p><%= result.fullDate %></p>
        </div>
        <% }) %>
    </div>

    <div id="recent-progress">
        <% study.progress.forEach(result => { %>
        <% if (result.currentYear) { %>
        <div class="current-year">
            <% } else { %>
            <div>
                <% } %>
                <span></span>
                <p>Leerjaar <%= result.studyYear %></p>
                <p><%= result.studypoints.achieved %>/<%= result.studypoints.available %> studiepunten</p>
            </div>
            <% }) %>
        </div>

        <div id="link-container">
            <a target="_blank" href="https://sis.hva.nl:8011/psc/S2PRD/EMPLOYEE/SA/c/SNS_MENU_FLD.SNS_SS_STD_RES_FL.GBL">Jouw resultaten
                <img src="/media/icons/arrow-right.svg" alt="arrow-right"></img>
            </a>

            <a target="_blank" href="https://sis.hva.nl:8011/psc/S2PRD/EMPLOYEE/SA/c/SNS_MENU_FLD.SNS_SS_FLD_ADB.GBL">Jouw studievoortgang
                <img src="/media/icons/arrow-right.svg" alt="arrow-right"></img>
            </a>
        </div>
    </div>