<div id="study-progress">

    <h2>Studieresultaten en -voortgang</h2>

    <div id="recent-results">
        <% studyResults.forEach(result => { %>
        <div>
            <% if (typeof result.grade === 'number' && result.grade >= 5.5 || result.grade === 'V') { %>
            <span class="success"></span>
            <% } else if (typeof result.grade === 'number' && result.grade < 5.5 || result.grade === '-' || result.grade === 'GR') { %>
            <span class="failed"></span>
            <% } else { %>
            <span class="failed"></span>
            <% } %>

            <p><%= result._links.course.title %></p>
            <p><%= result.grade %></p>
            <p><%= result.fullDate %></p>
        </div>
        <% }) %>
    </div>

    <div id="recent-progress">
        <% studyProgress.forEach(result => { %>
        <% if (result.currentYear) { %>
        <div class="current-year">
            <% } else { %>
            <div>
                <% } %>
                <span></span>
                <p>Leerjaar <%= result.studyYear %></p>
                <p><%= result.studypoints.achieved %>/<%= result.studypoints.available %> studiepunten</p>
            </div>
            <% }) %>
        </div>

        <a target="_blank" href="https://sis.hva.nl/">Alle resultaten in SIS
            <img src="/media/icons/arrow-right.svg" alt="arrow-right"></img>
        </a>
    </div>