<aside id=<%= id %> class=<%= name %>>

    <div id="mobile-menu-header">
        <a href="/" id="home-icon-container">
            <div id="home-icon"></div>
        </a>

        <div id="menu-icon"><a href="#fallback"></a></div>
    </div>

    <div id="menu-scroll-container">
        <%- include('search') %>
        <%- include('primary-links') %>
        <%- include('secondary-links') %>

        <a href="/information" id="information-link">
            <div>
                <img src="media/icons/information.svg" alt="Information icon">
                <p>Meer Informatie</p>
                <p>informatie over externe websites</p>
            </div>
        </a>

        <div id="social-media">
            <a href="https://twitter.com/HvA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
                <img src="media/icons/sm-twitter.svg" alt="Twitter icon"></a>
            <a href="https://www.instagram.com/hogeschoolvanamsterdam/?hl=nl" target="_blank">
                <img src="media/icons/sm-instagram.svg" alt="Instagram icon"></a>
            <a href="https://nl-nl.facebook.com/hvanieuws/" target="_blank">
                <img src="media/icons/sm-facebook.svg" alt="Facebook icon"></a>
            <a href="https://www.linkedin.com/school/hogeschool-van-amsterdam/?originalSubdomain=nl" target="_blank">
                <img src="media/icons/sm-linkedin.svg" alt="LinkedIn icon"></a>
        </div>
    </div>
</aside>

<div id="menu-overlay"></div>