<section id="resource">
    <h2><%= title %></h2>
    <a target="_blank" href="<%= link.url %>"><%= link.url %></a>

    <% sections.forEach((section, index) => { %>
    <article>
        <h3><%= section.title %>

            <% if (index === 0 || index === 1) { %>
            <%= title %>?
            <% } %>

        </h3>
        <p><%= section.content %></p>
    </article>
    <% }) %>

    <a target="_blank" href="<%= link.url %>"><%= link.text %></a>
</section>