<section id="resource">
    <h2><%= title %></h2>
    <a href="<%= link.url %>"><%= link.url %></a>

    <% sections.forEach(section => { %>
    <article id="<%= section.id %>">
        <h3><%= section.title %></h3>
        <p><%= section.content %></p>
    </article>
    <% }) %>

    <a href="<%= link.url %>"><%= link.text %></a>
</section>