<main id="<%= pageName %>" stylingName="details">

    <urgent-announcement message="" uid=""></urgent-announcement>

    <section>
        <h2><%= announcement.title %></h2>

        <p class="time"><%= announcement.publishDate %> - <%= announcement.tags[0] %></p>

        <p><%= announcement.content %></p>
    </section>