<main id="<%= pageName %>">

    <section>
        <urgent-announcement message="" uid=""></urgent-announcement>

        <%- include('partials/announcements') %>
        <%- include('partials/study-progress') %>
        <%- include('partials/course-overview') %>
        <%- include('partials/schedule') %>

    </section>
</main>