<main id="<%= pageName %>">

    <section>
        <urgent-announcement message="" uid=""></urgent-announcement>

        <div id="widget-container">
            <%- include('partials/announcements') %>
            <%- include('partials/study-progress') %>
            <%- include('partials/course-overview') %>
            <%- include('partials/schedule') %>
        </div>

    </section>